.ratin {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  stroke-width: 2px;
  position: absolute;
  top: 12px;
  right: 9px;
}
.ratingRed {
  background-image: url('./ratingRed.svg');
}

.ratingOrange {
  background-image: url('./ratingOrange.svg');
}
.ratingYellow {
  background-image: url('./ratingYellow.svg');
}
.ratingGreen {
  background-image: url('./ratingGreen.svg');
}

.numberRating {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 18px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.rate {
  position: absolute;
  bottom: 30px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .rate {
    position: absolute;
    bottom: 10px;
    left: 5px;
  }
}
